.background {
    /* The image used */
    background-image: url("../assets/img/smoke.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
}

.questbook {
    background-color: #FAF7EA;
    width: 50em;
    border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAA8CAMAAADG+c2+AAAAM1BMVEUAAAAAAAAAAAAkAAA1GwA0GgA5GgA5GwA4HgA7HgA5HgA7HgA7HwA7HgA8HgA7HgA8HwDn6RpAAAAAEHRSTlMAAQcHMDExQ1ZW1dXY3t7+02zZCAAAAKNJREFUWMPt2LEOwyAMBNCkSXGpKfb/f20G3AGUiWOJdNlueYrt6di2J3xHrmZF9mVCdnd3T/NgCO+ItUWdB0P4RrQWfR4chOVggUcu/cgCH0X6o+ynuivg3QjIAm8FggQJEiRIkCBBggQJEoTApO56An15EFIrVgJ4vaAtlnlwEKKbGrLATlgOxg9XeORfv9IMH+Xzb7tSzGo+gL7chNcjXpUulIwXVrjWS+0AAAAASUVORK5CYII=) 12 stretch;
    border-style: solid;
    border-width: 7px;
    border-image-outset: 4px;
    box-shadow: 0 0 4px 5px #faf7ea;
    margin-top: 5em;
    height: fit-content;
}

h2 {
    font-family: MrJeeves;
    font-weight: 800;
    text-align: center;
    color: #58180D;
    user-select: none;

    margin: 0;
    padding: 0.2em;

    background-color: #f0d9b0;
    border-radius: 0.5em;
    box-shadow: 2px 2px 5px 0px #c0c0c0;
}

::ng-deep .p-accordion-header-text {
    font-family: MrJeeves;
    font-weight: 800;
    font-size: .529cm;
    color: #58180D;

    margin-top: 0.5em;
    margin-bottom: .2em;
    padding: 0.2em 0.3em 0.1em 0.3em;

    border-bottom: 2px solid #c9ad6a;
    border-top: 1px solid #c9ad6a69;
    background-color: #fff1da;
    border-radius: 0.5em;
    width: 100%;
}